<footer>
  <ul>
    <li><a href="https://github.com/ampproject/amp-by-example/issues/new">feedback</a></li>
    <li><a href="https://github.com/ampproject/amp-by-example">github</a></li>
    <li><a href="/LICENSE.txt">license</a></li>
    <li><a href="https://www.google.com/intl/en/policies/privacy/">privacy</a></li>
  </ul>
</footer>
<script type="text/javascript">
var infolinks_pid = 2804610;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
